# Android Studio / IntelliJ
.idea/
*.iml
.gradle/
local.properties
captures/

# Carpeta de compilación (AQUÍ ESTÁ EL PROBLEMA DEL HTML)
build/
app/build/

# Kotlin
.kotlin/
.incremental/

# Otros
.DS_Store
*.log
*.class
